<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>ProPlanner</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/opener.css" />
  </head>

  <body>
    <div class="jumbotron centered">
      <div class="container">
        <img
          src="/public/pr11.png"
          alt=""
          style="height: 250px; width: 270px"
        />
        <h1 class="display-3">Welcome</h1>
        <p class="lead">MediRemind , The Best way to stay Healthy</p>
        <hr />
        <a class="btn btn-light btn-lg" href="/register" role="button"
          >Register</a
        >
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
  </body>
</html>
