<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/index.css">

  <link rel="stylesheet" href="/home.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    div {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    h2 {
      color: #333;
    }

    h1 {
      color: #333;
      font-size: 20px;
    }

    span {
      font-weight: bold;
    }
  </style>
  <title>O C R</title>
</head>
<body>

<div>


  <h2><%= Name %></h2>
  <h1>The Morning Medicine is : <span><%= Morn %></span></h1>
  <h1>The Afternoon Medicine is : <span><%= After %></span></h1>
  <h1>The Evening Medicine is : <span><%= Even %></span></h1>
</div>

</body>
</html>
